.NavBar {
    height: 100%;
    align-items: center;
    padding: 0 0.5em;
    color: white;
    background-color: #0078d4;
    justify-content: space-between;
    padding: 0.5em 2em;
}

.NavBar .searchbox {
    width: 20em;
}

.NavBar .searchbox .ms-SearchBox {
    margin-bottom: 0;
    background-color: white;
}
